canvas {
  display: none;
}

.navbar {
  background-color: var(--color-blue);
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: .5rem 1rem;
  position: static;
  width: 100vw;
}

.navbar_logo {
  width: clamp(6.25rem, 5.3013rem + 4.7436vw, 10.875rem);;
}

.navbar_link {
  align-items: center;
  color: var(--color-white);
  display: flex;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: transform 1s;
}

.navbar_link.active:before {
  content: '';
  background: #FFF;
  border-radius: 50%;
  width: clamp(0.375rem, 0.3237rem + 0.2564vw, 0.625rem);
  height: clamp(0.375rem, 0.3237rem + 0.2564vw, 0.625rem);
  margin-right: .5rem;
  text-align: center;
}

.navbar_link:hover {
  transition: .8s ease;
  transform: translate(20px, 0);
}

.navbar_links hr {
  max-width: 200px;
}

@media screen and (max-width: 767px) {
  .navbar_logo {
    padding-bottom: 2rem;
  }
  /* Menu burger (mobile) */
  .navbar_links {
    background-color: var(--color-blue);
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 32px;
    height: 100vh;
    padding: 10rem 3rem;
    position: fixed;
    right: 100vw;
    visibility: hidden;
    transition: all .8s ease-out;
    width: 100%;
    z-index: 1;
  }
  .show_nav .navbar_links {
    right: 0;
    visibility: visible;
  }
  .navbar_burger {
    background: transparent;
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
  .burger_bar,
  .burger_bar::before,
  .burger_bar::after {
    display: block;
    height: 2px;
    width: 24px;
    position: relative;
    background-color: var(--color-white);
    transition: all .5s ease-in-out;
    z-index: 2;
  }
  .burger_bar::before,
  .burger_bar::after {
    content: '';
    position: absolute;
    left: 0;
  }
  .burger_bar::before {
    transform: translateY(-8px);
  }
  .burger_bar::after {
    transform: translateY(8px);
  }
  /* Bar to Cross */
  .show_nav .burger_bar {
    background: transparent;
    width: 0;
  }
  .show_nav .burger_bar::before {
    transform: rotate(45deg);
  }
  .show_nav .burger_bar::after {
    transform: rotate(-45deg);
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .navbar_logo {
    padding-bottom: 2rem;
  }
  /* Menu burger (mobile) */
  .navbar_links {
    gap: 32px;
    height: 100vh;
    padding: 10rem 3rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .navbar_logo {
    background-color: transparent;
  }
  .navbar_burger {
    display: none;
  }
  .navbar {
    height: 100vh;
    position: absolute;
    width: clamp(9.375rem, 6.8109rem + 12.8205vw, 21.875rem);
  }
  .navbar_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    height: 17px;
  }
}

/* Desktop */
