/* mobile */
.products h1 {
  color: var(--color-blue);
  font-size: clamp(1rem, 0.7436rem + 1.2821vw, 2.25rem);
  font-weight: bold;
  text-align: center;
  padding: 1.5rem;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
}

.cell {
  color: var(--color-dark-gray);
  display: table-cell;
  font-size: clamp(0.875rem, 0.8494rem + 0.1282vw, 1rem);
  padding: 6px 12px;
}

.row {
  display: table-row;
  box-shadow: 0px 2px 5px #0000001A;
  border-radius: 3px;
  margin-bottom: .5rem;
}

.row.header {
  font-weight: 900;
}

.row_title {
  color: var(--color-dark-gray);
  font-weight: bold;
}

.cat span {
  background-color: var(--color-clothes);
  border-radius: 50px;
  color: #FFF;
  padding: .3rem .7rem;
}

@media screen and (max-width: 767px) {
  .table {
    display: block;
  }
  .row {
    padding: 14px 0 7px;
    display: block;
  }
  .row.header {
    display: none;
  }
  .row .cell {
    margin-bottom: 15px;
  }
  .row .cell:before {
    color: var(--color-blue);
    content: attr(data-title);
    display: block;
    font-size: 10px;
    margin-bottom: .3rem;
    opacity: .8;
  }
  .cell {
    padding: 2px 16px;
    display: block;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .products h1 {
    align-items: center;
    display: table-caption;
    padding: 68px 0;
  }
  .products,
  .product_card {
    padding-left: clamp(6.25rem, 2.7244rem + 17.6282vw, 23.4375rem);
    margin: 0 1%;
  }
  .table {
    display: table;
    width: 100%;
  }
  .row.header  {
    background-color: var(--color-blue);
    border-radius: 30%;
  }
  .row.header .cell {
    color: #FFF;
    padding: 21px 20px;
    vertical-align: middle;
  }
  .row.body li {
    padding: 25px 20px;
    vertical-align: middle;
  }
  .row .cell span {
    font-weight: 100;
  }
  .cell:nth-last-child(1) {
    text-align: end;
  }
  .cell:nth-child(3) {
    text-align: right;
  }
  .arrow_down {
    border-top : 7px solid #FFF;
    border-right : 4px solid transparent;
    border-left : 4px solid transparent;
    display : inline-block;
    margin-left: 5px;
  }
  .cat span {
    padding: .5rem .7rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1251px) {
  .cat span {
    margin: -36px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .products h1 {
    align-items: center;
    display: table-caption;
    padding: 68px 0;
  }
  .products,
  .product_card {
    padding-left: clamp(6.25rem, 2.7244rem + 17.6282vw, 23.4375rem);
    margin: 0 2.5%;
  }
}