/* mobile */
.products h1 {
  color: var(--color-blue);
  font-size: clamp(1rem, 0.7436rem + 1.2821vw, 2.25rem);
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

.products_table {
  border-collapse: collapse;
  gap: 2rem;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
}

.cell {
  color: var(--color-dark-gray);
  font-size: clamp(0.875rem, 0.8494rem + 0.1282vw, 1rem);
  padding: 6px 12px;
  display: table-cell;
}

.row {
  display: table-row;
  box-shadow: 0px 2px 5px #0000001A;
  border-radius: 3px;
  margin-bottom: .5rem;
}

.row.header {
  font-weight: 900;
}

.row_title {
  color: var(--color-dark-gray);
  font-weight: bold;
}

.cat {
  background-color: var(--color-clothes);
  border-radius: 50px;
  padding: .2rem;
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
  .row {
    padding: 14px 0 7px;
    display: block;
  }
  .row.header {
    display: none;
  }
  .row .cell {
    margin-bottom: 15px;
  }
  .row .cell:before {
    color: var(--color-blue);
    content: attr(data-title);
    display: block;
    font-size: 10px;
    margin-bottom: .3rem;
    opacity: .8;
  }
  .cell {
    padding: 2px 16px;
    display: block;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .products h1 {
    align-items: center;
    display: table-caption;
    padding: 68px 0;
  }
  .products,
  .product_card {
    padding-left: clamp(9.375rem, 6.8109rem + 12.8205vw, 21.875rem);
    margin: 0 50px;
  }
  .table {
    display: table;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  .row {
    display: table-row;
    box-shadow: 0px 2px 5px #0000001A;
    border-radius: 3px;
    margin-bottom: 5rem;
  }
  .row.header .cell {
    background: var(--color-blue);
    color: #FFF;
    padding: 21px 20px;
  }
  .row.body .cell {
    margin-bottom: 40px;
    padding: 21px 20px;
  }
  .row .cell span {
    font-weight: 100;
  }
  .arrow_down {
    display : inline-block;
    border-top : 7px solid #FFF;
    border-right : 4px solid transparent;
    border-left : 4px solid transparent;
    margin-left: 5px;
  }
}

/* desktop */